# dependencies
node_modules/

# build outputs
dist/
build/

# test coverage
coverage/

# environment files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# package manager / tooling
.pnp/
.pnp.js

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
