.card{
    width: 160px;
    height:  150px;
    border: 1px solid hsl(30, 91%, 48%);
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: hsl(37, 91%, 48%);
    line-height: 10px;
    overflow: hidden;
  text-overflow: ellipsis;

}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-overflow: ellipsis;
}

hr{
  border: 1px  solid rgb(214, 184, 14);
}