body {
    background-color: #111a1a;
    /* color: #FFF3D9; */
    color: rgb(1, 36, 1);
}


.form {
    height: 150px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(20, 47, 29);
    color: rgb(255, 166, 98);
    border-bottom-right-radius: 40px;
    border-top-left-radius: 4px;
}

.form:focus {
    outline: 2px;
    outline-color: rgb(0, 255, 115);

}

.inputs{
    width: 300px;
    height:30px;
    background-color: #253030;
    color: antiquewhite;
    font-size: medium;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 1px solid #68635a;
}
.input_larger{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin; /*firefox*/
    scrollbar-color: brown orange; /*firefox*/
    resize: none;
}

/*chrome edge safari*/
.input_larger::-webkit-scrollbar-thumb{
    background-color: blueviolet;
}
.input_larger::-webkit-scrollbar {
    width: 6px;
}
.input_larger::-webkit-scrollbar-track {
    background: orange;
}
.input_larger::-webkit-scrollbar-thumb {
    background-color: brown;
}



.add_button{
    font-size: large;
    background-color: cadetblue;
    height: 40px;
    width: 70px;
    border-radius: 20px;
}