.red,
.blue,
.green,
.orange {
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0 1px 10px #ffffff40;
  box-shadow: 1px 1px 3px #000000;
}

.red:hover,
.blue:hover,
.green:hover,
.orange:hover {
  border: 1px solid rgb(255, 255, 255);
}
.red {
  background: rgba(215, 3, 3, 0.536);
  border: 1px solid rgb(215, 3, 3);
}

.green {
  background: rgba(15, 215, 12, 0.379);
  border: 1px solid rgb(16, 215, 12);
}

.blue {
  background: rgba(36, 2, 203, 0.451);
  border: 1px solid rgb(36, 2, 203);
}

.orange {
  background: hsla(37, 91%, 48%, 0.503);
  border: 1px solid hsl(37, 91%, 48%);
}

.selectedcolor {
  border: 1px solid white;
}
