body {
  background-color: #111a1a;
  text-decoration-color: #fff3d9;
}

.form_and_data {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.z_above {
  z-index: 10;
}

.head {
  background-color: cadetblue;
  position: relative;
  display: block;
  font-size: xx-large;
  padding: 5px;
  padding-bottom: 0;
}

@media only screen and (max-width: 410px) {
  .head {
    font-size: 1.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .form_and_data {
    flex-direction: column;
    padding-left: 0;
  }
}
