.card {
  width: 160px;
  height: 200px;

  border: 0px solid hsla(30, 91%, 48%, 0);
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: hsl(37, 91%, 48%);
  text-overflow: ellipsis;
  position: relative;
  color: #ffffffd0;
  border: 1px solid #ffffff50;
}

.delete_button {
  background-color: rgb(211, 65, 11);
  border: none;
  border: 1px solid #780b0b;
  border: 1px solid #ffffff50;
  /* border: 5px solid #111a1a; */
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  top: -10%;
  right: -10%;
  color: rgb(7, 26, 5);
  user-select: none;
}
.delete_button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.modify_button {
  background-color: rgb(67, 114, 168);
  border: none;
  border: 1px solid #122065;
  border: 1px solid #ffffff50;
  /* border: 5px solid #111a1a; */
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  top: -10%;
  right: 10%;
  color: rgb(7, 26, 5);
  user-select: none;
}
.modify_button:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.title_and_del_button {
  display: flex;
  justify-content: center;
  height: 50px;
}

.title_heading {
  overflow: hidden;
  margin-bottom: 0;
}

.note_body {
  overflow: hidden;
  width: 160px;
  height: 94px;
  border: solid;
  border-width: 0px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-overflow: ellipsis;
}

hr {
  border: 1px solid #ffffffd0;
  width: 158px;
  padding: 0;
  margin: 2px 0;
}
.time_style {
  color: #ffffff80;
  font-size: x-small;
  font-weight: 200;
  position: absolute;
  right: 5%;
  bottom: 0;
}

.orange {
  background: hsla(37, 91%, 48%, 0.5);
}

.red {
  background: rgba(198, 38, 38, 0.5);
}
.green {
  background: rgba(15, 215, 12, 0.5);
}

.blue {
  background: rgba(36, 2, 203, 0.5);
}
